/* MAIN CSS */
body {
	background: url("/images/mochaGrunge.png") repeat;
}

#container {
	width: 900px;
	height: 800px;
	margin: 0 auto;
	margin-top: 25px;
}

#navigation img {
	width: 100px;
	height: 75px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	border: black 3px solid;
	border-radius: 5px;
}

#navigation h2 {
	font-family: "Francois One", sans serif;
	width: 200px;
	display: inline-block;
	margin-left: 20px;
}

/* APP BOX */

#appBox {
	width: 800px;
	height: 700px;
	margin: 0 auto;
	background-color: #5B978B;
	padding-top: 10px;
}

.appBoxBorders {
	-webkit-box-shadow: 
		0px 0px 5px rgba(0,0,0,0.6),
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
	-moz-box-shadow:
		0px 0px 5px rgba(0,0,0,0.6),
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
	box-shadow:
		0px 0px 5px rgba(0,0,0,0.6),
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
}

/* INPUT VIEW */

#inputBox {
	margin-left: 20px;
	padding: 0;
}

#inputBox h4 {
	font-family: "Francois One", sans serif;
	padding: 0;
	margin: 0;
}

#toDoInput {
	width: 350px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

#toDoDue {
	width: 70px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

#todoStatus select {
	height: 20px;
	margin-right: 5px;
	display: inline-block;
}

#toDoPriority {
	height: 20px;
	margin-right: 5px;
	display: inline-block;
}

.selectItem select {
	font-size: 12px;
	border: 0;
	border-radius: 0;
	width: 80px;
	height: 20px;
	display: inline-block;
	-webkit-appearance: none;
	padding-left: 5px;
}

.selectItem {
	width: 80px;
	height: 20px;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin-right: 5px;
}

#submitButton input {
	height: 20px;
	width: 70px;
	margin-right: 5px;
	display: inline-block;
}

.buttonSubmit {
	height: 25px;
	width: 70px;
	margin-right: 5px;
	display: inline-block;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
}

/* DISPLAY VIEW */

.listItems {
	list-style-type: none;
	text-decoration: none;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
}



