/* MAIN CSS */
body {
	background: url("/images/mochaGrunge.png") repeat;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 0;
    height: 10px;
}

hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #5B978B;
}

#container {
	width: 900px;
	height: 800px;
	margin: 0 auto;
	margin-top: 25px;
}

#navigation img {
	width: 100px;
	height: 75px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	border: black 3px solid;
	border-radius: 5px;
}

#navigation h2 {
	font-family: "Francois One", sans serif;
	width: 200px;
	display: inline-block;
	margin-left: 20px;
}

/* APP BOX */

#appBox {
	width: 800px;
	height: 700px;
	margin: 0 auto;
	background-color: #5B978B;
	padding-top: 10px;
}

.appBoxBorders {
	-webkit-box-shadow: 
		0px 0px 5px rgba(0,0,0,0.6),
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
	-moz-box-shadow:
		0px 0px 5px rgba(0,0,0,0.6),
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
	box-shadow:
		0px 0px 5px rgba(0,0,0,0.6),
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
}

/* INPUT VIEW */

#inputBox {
	margin-left: 20px;
	padding: 0;
}

#inputBox h4 {
	font-family: "Francois One", sans serif;
	padding: 0;
	margin: 0;
}

#toDoInput {
	width: 350px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

#toDoDue {
	width: 70px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

#todoStatus select {
	height: 20px;
	margin-right: 5px;
	display: inline-block;
}

#toDoPriority {
	height: 20px;
	margin-right: 5px;
	display: inline-block;
}

.selectItem select {
	font-size: 12px;
	border: 0;
	border-radius: 0;
	width: 80px;
	height: 25px;
	display: inline-block;
	-webkit-appearance: none;
	padding-left: 5px;
}

.selectItem1 {
	width: 90px;
	height: 25px;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
}

.selectItem2 {
	width: 60px;
	height: 25px;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
}

#todoStatus {
	position: absolute;
	top: 138px;
	border-radius: 5px;
	border: 1px solid black;
	width: 90px;
	height: 25px;
}

#toDoPriority {
	position: absolute;
	top: 138px;
	border-radius: 5px;
	border: 1px solid black;
	width: 60px;
	height: 25px;
}

#todoStatus option {
	text-align: center;
}

#toDoPriority option {
	text-align: center;
}

#submitButton input {
	height: 20px;
	width: 70px;
	margin-right: 5px;
	display: inline-block;
}

.buttonSubmit {
	height: 25px;
	width: 70px;
	margin-right: 5px;
	display: inline-block;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
}

/* DISPLAY VIEW */

.listItems {
	list-style-type: none;
	text-decoration: none;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	height: 15px;
}

#displayItems h4 {
	font-family: "Francois One", sans serif;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	margin-top: 10px;
}

#displayItems {
	width: 700px;
}


#toDoItemCol{
 	width: 300px;
 	margin-right: 5px;
 	padding: 0;
 	display: inline-block;
 	float: left;
}

#dueDateCol {
	width: 100px;
	margin-right: 5px;
	float: left;
 	padding: 0;
 	 display: inline-block;
}

#statusCol {
	width: 100px;
	margin-right: 5px;
	float: left;
 	padding: 0;
 	display: inline-block;
}

#priorityCol {
	width: 100px;
	margin-right: 5px;
	float: left;
	clear: right;
 	padding: 0;
 	display: inline-block;
}

/* Status View */

#status {
	margin-left: 20px;
	width: 800px;
}

#status h4 {
	font-family: "Francois One", sans serif;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}