/* MAIN CSS */
body {
	background: url("http://i.imgur.com/eHL5JSk.png");
	background-repeat: repeat;
}


hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 0;
    height: 10px;
}

hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #5B978B;
}

#container {
	width: 900px;
	height: 800px;
	margin: 0 auto;
	margin-top: 25px;
}

#navigation img {
	width: 100px;
	height: 75px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	border: black 3px solid;
	border-radius: 5px;
}

#navigation h2 {
	font-family: "Francois One", sans serif;
	width: 200px;
	display: inline-block;
	margin-left: 20px;
}

/* APP BOX */

#appBox {
	width: 800px;
	height: 700px;
	margin: 0 auto;
	background-color: #5B978B;
	padding-top: 10px;
}

.appBoxBorders {
	-webkit-box-shadow: 
		0px 0px 5px rgba(0,0,0,0.6),
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
	-moz-box-shadow:
		0px 0px 5px rgba(0,0,0,0.6),
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
	box-shadow:
		0px 0px 5px rgba(0,0,0,0.6),
		0px 0px 0px 14px #fff,
		0px 0px 0px 18px rgba(0,0,0,0.2),
		6px 6px 8px 17px #555;
}

/* INPUT VIEW */

#inputBox {
	margin-left: 20px;
	padding: 0;
}

#inputBox h4 {
	font-family: "Francois One", sans serif;
	padding: 0;
	margin: 0;
}

#toDoInput {
	width: 250px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

#toDoInputEdit {
	width: 250px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}
#toDoDue {
	width: 70px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}
#toDoDueEdit {
	width: 70px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}
#todoStatus select {
	height: 20px;
	margin-right: 5px;
	display: inline-block;
	float: left;
}
#todoStatusEdit select {
	height: 20px;
	margin-right: 5px;
	display: inline-block;
	float: left;
}

#toDoPriority {
	height: 20px;
	margin-right: 5px;
	display: inline-block;
}
#toDoPriorityEdit {
	height: 20px;
	margin-right: 5px;
	display: inline-block;
}
#todoCategory select {
	margin-right: 5px;
	display: inline-block;
	float: left;
	font-size: 12px;
	border: 0;
	border-radius: 0;
	width: 80px;
	height: 25px;
	display: inline-block;
	-webkit-appearance: none;
	padding-left: 5px;
}
#todoCategoryEdit select {
	margin-right: 5px;
	display: inline-block;
	float: left;
	font-size: 12px;
	border: 0;
	border-radius: 0;
	width: 80px;
	height: 25px;
	display: inline-block;
	-webkit-appearance: none;
	padding-left: 5px;

}
/*.selectItem select {
	font-size: 12px;
	border: 0;
	border-radius: 0;
	width: 80px;
	height: 25px;
	display: inline-block;
	-webkit-appearance: none;
	padding-left: 5px;
}*/

.selectItem1 {
	width: 90px;
	height: 25px;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
}

.selectItem2 {
	width: 60px;
	height: 25px;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
}

.selectItem3 {
	width: 90px;
	height: 25px;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
}

#todoStatus {
	position: absolute;
	top: 138px;
	border-radius: 5px;
	border: 1px solid black;
	width: 90px;
	height: 25px;
}

#todoStatusEdit {
	position: absolute;
	top: 188px;
	border-radius: 5px;
	border: 1px solid black;
	width: 90px;
	height: 25px;
}
#toDoPriority {
	position: absolute;
	top: 138px;
	border-radius: 5px;
	border: 1px solid black;
	width: 60px;
	height: 25px;
}
#toDoPriorityEdit {
	position: absolute;
	top: 188px;
	border-radius: 5px;
	border: 1px solid black;
	width: 60px;
	height: 25px;
}
#todoCategory {
	position: absolute;
	top: 138px;
	border-radius: 5px;
	border: 1px solid black;
	width: 90px;
	height: 25px;
}
#todoCategoryEdit {
	position: absolute;
	top: 188px;
	border-radius: 5px;
	border: 1px solid black;
	width: 90px;
	height: 25px;
}

#todoStatus option {
	text-align: center;
}
#todoStatusEdit option {
	text-align: center;
}

#toDoPriority option {
	text-align: center;
}
#toDoPriorityEdit option {
	text-align: center;
}
#submitButton input {
	height: 20px;
	width: 70px;
	margin-right: 5px;
	display: inline-block;
}
#submitButtonEdit input {
	height: 20px;
	width: 70px;
	margin-right: 5px;
	display: inline-block;
}

.buttonSubmit {
	height: 25px;
	width: 70px;
	margin-right: 5px;
	display: inline-block;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
}
.buttonSubmitEdit {
	height: 25px;
	width: 70px;
	margin-right: 5px;
	display: inline-block;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
}
/* DISPLAY VIEW */

.listItems {
	list-style-type: none;
	text-decoration: none;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	height: 15px;
}

#displayItems h4 {
	font-family: "Francois One", sans serif;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	margin-top: 10px;
}

#displayItems {
	width: 700px;
}


#toDoItemCol{
 	width: 200px;
 	margin-right: 5px;
 	padding: 0;
 	display: inline-block;
 	float: left;
}

#todoItemCol h4 {
	width: 200px;
	margin-right: 5px;
	padding: 0;
	display: inline-block;
	float: left;
}

#dueDateCol {
	width: 80px;
	margin-right: 5px;
	float: left;
 	padding: 0;
 	display: inline-block;
}

#dueDateCol h4 {
	width: 80px;
	margin-right: 5px;
	float: left;
 	padding: 0;
 	display: inline-block;
}

#statusCol {
	width: 80px;
	margin-right: 5px;
	float: left;
 	padding: 0;
 	display: inline-block;
}

#statusCol h4 {
	width: 80px;
	margin-right: 5px;
	float: left;
 	padding: 0;
 	display: inline-block;
}

#catCol {
	width: 80px;
	margin-right: 5px;
	float: left;
	padding: 0;
	display: inline-block;
}

#catCol h4 {
	width: 80px;
	margin-right: 5px;
	float: left;
	padding: 0;
	display: inline-block;
}

#priorityCol {
	width: 80px;
	margin-right: 5px;
	float: left;
	clear: right;
 	padding: 0;
 	display: inline-block;
}

#deleteButton {
	width: 50px;
	margin-right: 5px;
	float: left;
	clear: right;
 	padding: 0;
 	display: inline-block;
}
#editButton {
	width: 50px;
	margin-right: 5px;
	float: left;
	clear: right;
 	padding: 0;
 	display: inline-block;
}
#colTitles {
	width: 850px;
	height: 15px;
	display: inline-block;
}

#titleUL li {
	float: left;
	width: 86px;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#titleUL li:first-child {
	width: 200px;
}

#titleUL {
	margin: 0;
	padding: 0;
	float: left;
	width: 850px;
	display: inline-block;
	margin-left: 40px;
	margin-top: 10px;
}

.titles {
	list-style-type: none;
	font-family: "Francois", sans-serif;
	font-size: 14px;
	font-weight: bold;
}



/* Status View */

#status {
	margin-left: 20px;
	width: 800px;
}

#status h4 {
	font-family: "Francois One", sans serif;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

#status1ToDos {
	width: 800px;
	height: 30px;	
	display: block;
}

#status1ToDos h4 {
	width: 100px;
	height: 20px;
	display: inline-block;
	float: left;

}

#sortByStatus {
	width: 100px;
	height: 20px;
	display: inline-block;
	float: left;
	border-radius: 5px;
	margin-right: 10px;
	padding: 0;
	margin-top: 10px;
}					 
#sortByPriority {
	width: 100px;
	height: 20px;
	display: inline-block;
	float: left;
	border-radius: 5px;
	margin-right: 10px;
	padding: 0;
	margin-top: 10px;
}
#sortByDateDue {
	width: 100px;
	height: 20px;
	display: inline-block;
	float: left;
	border-radius: 5px;
	margin-right: 10px;
	padding: 0;
	margin-top: 10px;
	clear: right;
}
#bottomHR {
	width: 800px;
	height: 10px;
	margin-top: 10px;
}



/* EDITING INPUT AREA */


#editingDiv {
	width: 750px;
	height: 20px;
	display: inline-block;
}

#toDoInputEdit {
	margin-bottom: 10px;
	padding: 0;
	height: 15px;
	width: 195px;
	float: left;
}  

#toDoDueEdit {
	float: left;
	height: 15px;
}

#todoStatusEdit {
	float: left;
}

#todoCategoryEdit {
	float: left;
}

#toDoPriorityEdit {
	float: left;
}

#buttonSubmitEdit {
	float: left;
	height: 15px;
	width: 20px;
}


